/* assets/css/main.css */
@font-face {
  font-family: "IranSans";
  src: url("@/assets/fonts/IRANSans.woff2") format("woff2"),
    url("@/assets/fonts/IRANSans.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  direction: rtl;
  background: #f6f8fb;
  color: #0f172a;
  font-family: "IranSans", ui-sans-serif, system-ui;
}
