/* assets/css/main.css */
@font-face {
  font-family: "IranSans";
  src: url("@/assets/fonts/IRANSans.woff2") format("woff2"),
    url("@/assets/fonts/IRANSans.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Peyda Web Font - Font Face Declarations */

@font-face {
  font-family: "PeydaWeb";
  src: url("@/assets/fonts/PeydaWeb-Thin.woff2") format("woff2"),
    url("@/assets/fonts/PeydaWeb-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaWeb";
  src: url("@/assets/fonts/PeydaWeb-ExtraLight.woff2") format("woff2"),
    url("@/assets/fonts/PeydaWeb-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaWeb";
  src: url("@/assets/fonts/PeydaWeb-Light.woff2") format("woff2"),
    url("@/assets/fonts/PeydaWeb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaWeb";
  src: url("@/assets/fonts/PeydaWeb-Regular.woff2") format("woff2"),
    url("@/assets/fonts/PeydaWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaWeb";
  src: url("@/assets/fonts/PeydaWeb-Medium.woff2") format("woff2"),
    url("@/assets/fonts/PeydaWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaWeb";
  src: url("@/assets/fonts/PeydaWeb-SemiBold.woff2") format("woff2"),
    url("@/assets/fonts/PeydaWeb-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaWeb";
  src: url("@/assets/fonts/PeydaWeb-Bold.woff2") format("woff2"),
    url("@/assets/fonts/PeydaWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaWeb";
  src: url("@/assets/fonts/PeydaWeb-ExtraBold.woff2") format("woff2"),
    url("@/assets/fonts/PeydaWeb-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaWeb";
  src: url("@/assets/fonts/PeydaWeb-Black.woff2") format("woff2"),
    url("@/assets/fonts/PeydaWeb-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaWeb";
  src: url("@/assets/fonts/PeydaWeb-ExtraBlack.woff2") format("woff2"),
    url("@/assets/fonts/PeydaWeb-ExtraBlack.woff") format("woff");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* direction: rtl; */
  background: #f6f8fb;
  color: #0f172a;
  font-family: "IranSans", ui-sans-serif, system-ui;
}
